<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
    <link
      rel="preload stylesheet"
      media="all"
      href="/pun/sys/dashboard/assets/application-3b443381256f2d9a75d3489548424fe0f455d1ca09838171ddf0e686b9a7f21c.css"
      as="style"
      type="text/css"
    />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-md shadow-sm navbar-color navbar-dark"
        aria-label="Navigation"
        style="background-color: #53565a"
      >
        <a class="navbar-brand" href="/pun/sys/dashboard/">Unity OnDemand</a>
        <ul class="navbar-nav" style="margin-left: auto">
          <li class="nav-item" style="float: right">
            <a class="nav-link" href="/logout"
              ><i class="fas fa-sign-out-alt" aria-hidden="true"></i
              ><span class="d-sm-none d-md-none d-lg-inline"> Log Out</span></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div class="container-md content mt-4" role="main"><%- body %></div>
    <footer class="d-flex m-0 mt-4 justify-content-between align-items-center p-4">
      <div class="mr-2">
        <a href="https://openondemand.org">
          <img
            class="footer-logo"
            alt="Powered by Open OnDemand"
            height="40px"
            src="/pun/sys/dashboard/assets/OpenOnDemand_powered_by_RGB-cb3aad5ff5350c7994f250fb334ddcc72e343233ce99eb71fda93beddd76a847.svg"
          />
        </a>
      </div>
    </footer>
  </body>
</html>
